<div>
  <div class="m-3 mt-5 p-4" style="font-size: 5vw;">
    Chichago Beach Monitoring
  </div>
  <div class="mt-4 p-4"></div>
  <h1 class="m-5 p-4 mt-2 border rounded bg-dark text-primary">
    Chichago Beach Monitoring platform is distributed system which tracks,
    collects and analyzes data gathered from three most popular and tranding
    beaches on lake Michigan in Chichago city.
  </h1>
  <h1 class="m-5 p-4 border rounded bg-dark text-primary">
    Platform controls multiple sensors on each of Foster, Oak and 63rd street
    beaches and has command interfaces which automatically performs isues
    commands and performs actions which our AI system(heart of this platform)
    has calculated.
  </h1>
  <h1 class="m-5 p-4 border rounded bg-dark text-primary">
    This system represents part of IoT series of smart city IoT projects which
    will make city of Chichago a better and more interesting place to live in.
    Regards from Chichago Beach Monitoring developer team and always
    remember:"Life Is a Beach!".
  </h1>
</div>
